---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Self Hosted Workerd - OpWork">
  <main>
    <h1>Hello, OpWork!</h1>
    <p class="instructions">Just loading the site...</p>

    <h3>Quick start:</h3>
    <code> docker run -it -p80:3000 opwork/runtime:latest</code>

    <hr />
    But you can check out the demo <a href="https://runtime.opwork.dev/">here</a
    >.
  </main>
</Layout>
