---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Self Hosted Workerd - OpWork">
  <main>
    <h1>Hello, OpWork!</h1>
    <p class="instructions">Just loading the site...</p>

    <hr />
    But you can check out the demo <a href="https://runtime.opwork.dev/">here</a
    >.
  </main>
</Layout>
